<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de Administrador</title>
  <link rel="stylesheet" href="../stylesheets/cadastroAdm.css">
  <link rel="stylesheet" href="../stylesheets/footer.css">
</head>
<body>
  <div class="container">
  <aside class="sidebar">
      <h2>Skill <span>UP</span></h2>
      <nav>
        <a href="principalAdm">Dashboard</a>
        <a href="temas"> Cursos</a>
        <a href="cadastroAdm" class="active">Administrador</a>
        <a href="categorias">Categorias</a>
      </nav>
    </aside>

    <main class="main-content">
      <h2>Cadastrar Administrador</h2>
      <form action="/admin/cadastroAdm" method="POST" class="form-admin">
        <label for="usuario">Nome do Usuário</label>
        <input type="text" id="usuario" name="usuario" required>

        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" required>

        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" required>

        <button type="submit">Cadastrar</button>
      </form>
    </main>
  </div>

  <%- include('../partials/footer') %>
</body>
</html>
