<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='../../stylesheets/style.css' />
  <link rel='stylesheet' href="../../stylesheets/footer.css">
  <link rel='stylesheet' href='../../stylesheets/nav.css'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  
  <title>
    <%= title %>
  </title>
</head>

<body>
  <%- include('partials/navbar') %>


  <header class="banner">
    <h1>Aprenda de forma rápida e eficiente</h1>
    <p>Melhores Cursos do Mercado</p>
    <button class="btn btn-explore">Explorar Cursos</button>
  </header>

  <div class="featured-courses_d">
    <h2>CURSOS EM DESTAQUE</h2>
  </div>
  <section class="featured-courses">
    <div class="courses-container">
      <div class="course-card">
        <img src="../../images/script.png" alt="Curso de JavaScript">
        <h3>Curso de JavaScript</h3>
        <p>Curso de JavaScript</p>
      </div>
      <div class="course-card">
        <img src="../../images/Yoga.png" alt="Curso de JavaScript">
        <h3>Yoga Para Iniciantes</h3>
        <p>Yoga Para Iniciantes</p>
      </div>
      <div class="course-card">
        <img src="../../images/design.png" alt="Curso de JavaScript">
        <h3>Curso de Design</h3>
        <p>Curso de Design</p>
      </div>
    </div>
  </section>


  <%- include('partials/footer') %>
</body>

</html>