<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='../../stylesheets/style.css' />
  <title>
    <%= title %>
  </title>
</head>

<body>
  <nav class="navbar">
    <div class="logo">Skill <span class="highlight">UP</span></div>
    <ul class="nav-links">
      <li><a href="#">HOME</a></li>
      <li><a href="#">SOBRE NÓS</a></li>
    </ul>
    <div class="search-container">
      <input type="text" class="search-bar" placeholder="Pesquisar">
    </div>
    <div class="buttons">
      <button class="btn btn-login">Entrar</button>
      <button class="btn btn-register">Cadastrar-se</button>
    </div>
  </nav>

  <header class="banner">
    <h1>Aprenda de forma rápida e eficiente</h1>
    <p>Melhores Cursos do Mercado</p>
    <button class="btn btn-explore">Explorar Cursos</button>
  </header>

  <section class="featured-courses">
    <h2>CURSOS EM DESTAQUE</h2>
    <div class="courses-container">
      <div class="course-card">
        <img src="../../images/script.png" alt="Curso de JavaScript">
        <h3>Curso de JavaScript</h3>
        <p>Curso de JavaScript</p>
      </div>
      <div class="course-card">
        <img src="../../images/Yoga.png" alt="Curso de JavaScript">
        <h3>Yoga Para Iniciantes</h3>
        <p>Yoga Para Iniciantes</p>
      </div>
      <div class="course-card">
        <img src="../../images/design.png" alt="Curso de JavaScript">
        <h3>Curso de Design</h3>
        <p>Curso de Design</p>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="footer-content">
      <div>
        <h4>SOBRE</h4>
        <p>Quem somos</p>
        <p>Fale conosco</p>
        <p>Termos e condições</p>
      </div>
      <div>
        <h4>TERMOS E CONDIÇÕES</h4>
        <p>Ajuda e suporte</p>
        <p>Mais sobre a Plataforma</p>
      </div>
      <div>
        <h4>REDE SOCIAIS</h4>
        <p>Youtube | Instagram | Facebook | Twitter</p>
      </div>
    </div>
    <p class="footer-bottom">&copy; 2025 SkillUP - Todos os direitos reservados</p>
  </footer>
</body>

</html>