<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/login.css">
    <title>Document</title>
</head>
<body>
        <nav class="navbar">
          <div class="logo">Skill <span class="highlight">UP</span></div>
          <ul class="nav-links">
            <li><a href="#">HOME</a></li>
            <li><a href="#">SOBRE NÓS</a></li>
          </ul>
          <div class="search-container">
            <input type="text" class="search-bar" placeholder="Pesquisar">
          </div>
          <div class="buttons">
            <button class="btn btn-login">Entrar</button>
            <button class="btn btn-register">Cadastrar-se</button>
          </div>
        </nav>
    
</body>
</html>