
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-box {
    background-color: #c14848;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(199, 6, 6, 0.2);
    width: 320px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: white;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.forgot-password {
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
    color: white;
    text-decoration: none;
}

.login-btn {
    background-color: blue;
    color: white;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.login-btn:hover {
    background-color: darkblue;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
}

.social-login button {
    background-color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.signup-link {
    margin-top: 10px;
    color: white;
}

.signup-link a {
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}
