<aside class="sidebar">
    <h2 class="logo">Skill <span>UP</span></h2>
    <nav class="nav-menu">
      <a href="/admin/principalAdm" class="<%= currentUrl === '/admin/principalAdm' ? 'active' : '' %>">Dashboard</a>
      <a href="/admin/temas" class="<%= currentUrl === '/admin/temas' ? 'active' : '' %>">Cursos</a>
      <a href="/admin/cadastroAdm" class="<%= currentUrl === '/admin/cadastroAdm' ? 'active' : '' %>">Administrador</a>
      <a href="/admin/categorias" class="<%= currentUrl === '/admin/categorias' ? 'active' : '' %>">Categorias</a>
    </nav>
  </aside>
  